*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}
.main{
    width: 100%;
    height: 10%;
    background:linear-gradient(purple,rgb(40, 40, 199), rgb(90, 99, 200), purple);
}

nav
    display: flex;
    gap: 30px;
    padding: 20px 30px;
}
nav a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
}
nav a:hover {
            color: #0f363b;
}